@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #E5E5E5;
}

.container {
    background-color: #23424A;
    padding: 6rem 0 6rem 6rem;
    color: white;
}

.hero-content {
    width: 50%;
}

h1 {
    font-weight: 900;
    font-size: 48px;
}

p {
    font-weight: 400;
    margin-bottom: 4em;
    font-size: 21px;
    line-height: 31px;

}

.button {
    text-decoration: none;
    color: #23424A;
    font-weight: bold;
    font-size: 21px;
    background-color: #38CFD9;
    border-radius: 5px;
    padding: 0.5em;
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    border-radius:25px;
    padding: 1em 2em ;
}


