* {box-sizing: border-box;}

body {
    margin: 0;
}

.parent {
    background-color: #23424A;



    margin: 0 auto;

    width: 80%;
}

.child {
    background-color: #38CFD9;
 

    /* height: 250px; */ 
    /* text oferflows you broke it by setting height */
    /* The web wants to be responsive it what you did with you css */

    /* Instead of setting a height */
    /* Rather add padding */
    padding: 5em;
}